

.zoneInfoDropdown {
  background: #FFFEF1;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  color: #7C745B;
}

/* Hides content by default */
.cardContent {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s ease;
}

/* Required: direct child must clip the overflow */
.cardContent > * {
  overflow: hidden;
}

.cardContent.open {
   grid-template-rows: 1fr;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 8px 20px;
  border: 1.5px solid #2E7D32;
  border-radius: 99px;
  background: white;
  color: #2E7D32;
  font-family: "Lexend", sans-serif;
  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
}

.scroll-pane {
  overflow-y: auto;
  height: calc(100vh - 120px);
  padding: 0 1em 1em 1em;
  box-sizing: border-box;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;
  transition: transform 0.2s ease;
}

.dropdown-button.open {
  transform: rotate(180deg);
}