    
    <% if (botNavBar) { %>
        <nav class="bottom-nav">
            <button class="nav-btn"><img src="/img/navbar_location.png"></button>
            <button class="nav-btn"><img src="/img/navbar_sprout.png"></button>
            <button class="nav-btn"><img id="save-btn" src="/img/navbar_bookmark.png"></button>
        </nav>
    </div>
    <% } %>
    
    
    <% if (jsFiles) { %>
        <% for (const js of jsFiles) { %>
            <script src="/js/<%= js %>"></script>
        <% } %>
    <% } %>
    
</body>
</html>