    
    <% if (botNavBar) { %>
        <nav class="bottom-nav">
            <button class="nav-btn <%= activePage === 'map' ? 'nav-btn--active' : '' %>" onclick="window.location.href='/map'"><img src="/img/navbar_location.png"></button>
            <button class="nav-btn <%= activePage === 'garden' ? 'nav-btn--active' : '' %>" onclick="window.location.href='/gardenpage'"><img src="/img/navbar_sprout.png"></button>
            <button class="nav-btn <%= activePage === 'saved' ? 'nav-btn--active' : '' %>" onclick="window.location.href='/savedpage'"><img id="save-btn" src="/img/navbar_bookmark.png"></button>
    
        </nav>
    </div>
    <% } %>
    
    
    <% if (jsFiles) { %>
        <% for (const js of jsFiles) { %>
            <script src="/js/<%= js %>"></script>
        <% } %>
    <% } %>
    
</body>
</html>