<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Common CSS -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- CSS Specific -->
    
    <% for (const css of cssFiles) { %>
        <link rel="stylesheet" href="/css/<%= css %>">
    <% } %>

    <title><%= title %></title>
</head>
<body>

    <% if (topNavBar) { %>
    <!-- Navbar -->
    <div class="app">
      <div class="topnavbar">
        <button class="profile-btn">Profile</button>
      </div>  
    <% } %>
    