<link rel="stylesheet" href="/css/popup.css">

<div class="popup">
  <h1 class="popup-title"><%= popup.title %></h1>

  <% for (let i = 0; i < popup.steps.length; i++) { %>
    <li class="popup-step" data-step="<%= i %>" style="display:none"><%= popup.steps[i] %></li>
  <% } %>
    
  <p class="popup-step-text"></p>
  </br>
  <button class="popup-back">Previous</button>
  <button class="popup-next" id="<%= featureName %>" >Next</button>
</div>

<script src="/js/popup.js"></script>