<link rel="stylesheet" href="/css/popup.css">

<div class="popup">
    <h1 class="popup-title">popup title</h1>
    <p class="popup-description">popup description</p>
    <button class="popup-next">next</button>
    <button class="popup-skip" id="<%= featureName %>">skip</button>
</div>

<script src="/js/popup.js"></script>