<!--Individual zone cards-->
<div class = "zoneInfoDropdown" onClick = "toggleCard(this)">
    <div class = "header"> <b><%= zone.zone %></b></div>

    <div class = "cardContent">
        <!--All areas in that zone-->
        <br>
        <p><%= zone.areas %></p>
        <br>

        <!--Going through each characteristic to display -->
        <% zone.characteristics.forEach(cat => { %>
            <p><b><%= cat.title %></b></p>
            <p style="padding-left: 1.5em;"><%= cat.content %></p>
            <br>
        <% }) %>
    </div>
</div>