<!--Individual zone cards-->
<div class="zoneInfoDropdown" onClick="toggleCard(this)">
    <div class="cardHeader"><b><%= zone.zone %></b>
        <img src="/img/dropdownicon-closed.png" alt="dropdown-icon" class="dropdown-button">
    </div>

    <div class="cardContent">
        <div> <!-- wrapper div -->
            <br>
            <p><%= zone.areas %></p>
            <br>

            <% zone.characteristics.forEach(cat => { %>
                <p><b><%= cat.title %></b></p>
                <p style="padding-left: 1.5em;"><%= cat.content %></p>
                <br>
            <% }) %>
        </div>
    </div>
</div>