<%- include('partials/header', {title: 'GroCrop',cssFiles: ['landingpage.css'], topNavBar: true}) %>
      <div class="content">
        <p>Hello, user.</p>
      </div>
<%- include('partials/footer', { jsFiles: [], botNavBar: true }) %>