<%- include('partials/header', {title: 'GroCrop',cssFiles: ['landingpage.css', 'styles.css'], topNavBar: false}) %>
      <div class="content">
        <p id="welcome-text">Welcome to GroCrop!</p>
        <p>Find out what grows well where you are, 
          and get the guidance you need to make it work.</p>
        <a href="signup" id="get-started-button">Get Started</a>
      </div>
<%- include('partials/footer', { jsFiles: [], botNavBar: false }) %>