<%- include('partials/header', {title: 'GroCrop', cssFiles: ['map.css'], topNavBar: false, useMap: true}) %>

    <link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet" />
    
<div class="map-container">
  <div class="content">
    <div class="map-toggle">
      <button id="btn-regular" class="active" onclick="switchView('regular')">Map</button>
      <button id="btn-zones" onclick="switchView('zones')">Zones</button>
      <button id="btn-zones-info" onclick="window.location.href='/zonePage'">Zone Information</button>
    </div>

    <div id="zone-banner" style="display:none"></div>

    <div id="map">
      <div id="zone-legend" style="display:none">
        <p class="legend-title">Growing Zones</p>
        <div class="legend-item"><span class="legend-dot" style="background:#7DAF7D"></span>City of Vancouver</div>
        <div class="legend-item"><span class="legend-dot" style="background:#7AAFC9"></span>North Shore</div>
        <div class="legend-item"><span class="legend-dot" style="background:#C9A96E"></span>Metro NE</div>
        <div class="legend-item"><span class="legend-dot" style="background:#C97B7B"></span>Metro SW</div>
        <div class="legend-item"><span class="legend-dot" style="background:#9B82B8"></span>Metro SE</div>
      </div>
    </div>
  </div>
</div>

<% if (!featureChecklist.f_map) { %>
  <%- include('partials/popup.ejs', { featureName: 'f_map' }) %>
<% } %>

<script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
<script>
  const MAPTILER_KEY = "<%= MAPTILER_KEY %>";
</script>

<%- include('partials/footer', { jsFiles: ['map.js'], botNavBar: true, useMap: true, activePage: 'map' }) %>