<%- include('partials/header', {title: 'GroCrop',cssFiles: ['landingpage.css', 'styles.css'], topNavBar: false}) %>
      <div class="content">
        <p>Your saved crops.</p>
        
      </div>
<%- include('partials/footer', { jsFiles: [], botNavBar: false }) %>