<h1>Create User</h1>
<form action="/signupSubmit" method="POST">
    <input name="username" placeholder="username" /><br>
    <p>username must be 5-20 characters.</p>
    <input name="email" placeholder="email" /><br>
    <p>must be a valid email</p>
    <input name="password" type="password" placeholder="password" /><br>
    <p>password must be between 8-20 characters, <br>
    contain 1 uppercase and 1 lowercase letter, and at least 1 number</p>
    <button type="submit">Submit</button>
    <% if (locals.message) { %>
        <p><%= message %></p>
    <% } %>
</form>
<p>If you already have an account?</p>
<a href ="login" id ="login-button">
    <button type="onclick">Login</button>
</a>